@model IEnumerable<Foodery.Web.ViewModels.Receipt.ReceiptProfileViewModel>

@{
    ViewData["Title"] = "Profile";
}

<h1 class="text-primary">My Receipts</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products)
            </td>
            <td>
                <a href="/Receipt/Details/@item.Id" class="btn btn-primary font-weight-bold">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
