@model IEnumerable<Foodery.Web.ViewModels.Product.ProductAllViewModel>

@{
    ViewData["Title"] = "All";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4 me-1" style="width: 20rem; ">
            <div class="card-body">
                <img class="mb-0 w-75 h-75" src="@e.ImageUrl>"><span class="fw-bold"></span>
                <h5 class="card-title mt-1">@e.Name</h5>
                <p class="mb-0"><span class="fw-bold">Price </span>@e.Price</p>
            </div>

            
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>
            }
        </div>
    }
</div>